@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.accordion-input {
  display: none;
}

.accordion-label {
  display: block;
  width: 100%;
}

.accordion-content {
  display: none;
}

.accordion-input:checked ~ .accordion-content {
  display: block;
}
