@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* This file is for your main application CSS */

.accordion-input {
  display: none;
}

.accordion-label {
  display: block;
  width: 100%;
}

.accordion-content {
  display: none;
}

.accordion-input:checked ~ .accordion-content {
  display: block;
}
